#backgroundImg {
	
}
nav {
	height: 85px;
}
nav a {
	color: #17215C;
}
nav ul a {
	color: #17215C;
	padding: 10px 15px;
}
h1 {
	font-size: 3.5rem;
}
.btn-custom {
	background-color: #17215C;
}
.btn-custom:hover {
	background-color: rgba(23, 33, 92, 0.9);
}
.row .col {
	margin-top: 20px;
}
.sidebar-img-mobile {
	display: none;
}
footer.page-footer {
     margin-top: 0px; 
     padding-top: 0px; 
    background-color: #17215C;
}
.light, footer.page-footer .footer-copyright {
	font-weight: normal;
}
footer.page-footer a {
	color: #ff3;
}
footer.page-footer .footer-copyright { 
	line-height: 0px;
}
blockquote {
	border-left: 5px solid #17215C;
	font-style: italic;
}
@media screen and (max-width: 778px) {
	h1 {
		font-size: 3.1rem;
	}
	h3 {
		font-size: 2.1rem;
	}
	.btn-large {
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 600px) {
	.sidebar-img {
		display: none;
	}
	.sidebar-img-mobile {
		display: block;
	}
}